{% set pkgs = salt['grains.filter_by']({
    'Debian': [
        'python-dev',
        'python-pip',
        'libssl-dev',
        'libffi-dev',
        'libxslt1-dev',
        'python-cffi'
    ],
    'RedHat': [
        'python2-pip',
        'python-devel',
        'gcc',
        'openssl',
        'openssl-devel',
        'libffi-devel'
    ]
}, grain='os_family') %}
